.App .footer-part {
  text-align: center;
  margin: 15px 0px 15px 0px;
}
.App .footer-part a {
  text-decoration: none;
  color: blue;
}
@media (max-width: 800px) {
  .SearchKeyword {
    padding: 5px;
    margin: 13px;
  }
  .SearchKeyword h1 {
    font-size: 23px;
  }
}
