.ShowResult {
  padding: 20px;
  background: #f5f5f5;
  border: solid 1px #dddddd;
  border-radius: 4px;
}
.ShowResult section {
  background: #fff;
  border: solid 1px #dddddd;
  border-radius: 4px;
  padding:20px;
  margin-bottom:12px;
}
.ShowResult h2{
font-size: 33px;
margin:0px;
line-height: 1.5;
padding-left:31px;
}
